.career {
    border: 1px solid #d2dfff;
    @apply bg-light-1 rounded-2xl;
  }
  
  .blue-btn-link {
    @apply text-white text-sm font-normal bg-blue rounded px-6 py-[11px] hover:opacity-75;
  }
  
  article {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

.header {
  @apply flex items-center mt-[5rem] min-h-[500px] lg:min-h-[600px] bg-cover bg-no-repeat bg-[#0f3375];
  background-image: url("/assets/images/hero-bg1.jpg");
}

.overlay {
    background: rgba(0, 0, 0, 0.3);
    @apply right-0 top-0 z-10 w-full min-h-[500px] lg:min-h-[600px];
}